<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="home.css" />
    <title><%=title%></title>
  </head>
  <body>
    <div class="container my-container">
      <form action="/createTask" method="POST" id="form">
        <div class="row">
          <input
            class="col-md-6 col-sm-12"
            id="desc"
            type="text"
            name="description"
            placeholder="Task Description"
            required
          />
          <select class="col-md-3 col-sm-6" name="category" required>
            <option value="School">School</option>
            <option value="Work">Work</option>
            <option value="Fitness">Fitness</option>
            <option value="Lifestyle">Lifestyle</option>
          </select>
          <input class="col-md-3 col-sm-6" type="date" name="date" required />
        </div>
        <div class="row">
          <button class="col" id="submitButton" type="submit">Add Task</button>
        </div>
      </form>
      <div id="taskview">
        <% for(let task of tasks) {%>
        <div class="row">
          <div class="col-sm-1" id="category">
            <%= task.category %>
          </div>
          <div class="col-sm-10" id="description">
            <%= task.description %>
          </div>
          <div class="col-sm-1" id="delete">
            <a href="/deleteTask/?id=<%= task.id%>">Delete</a>
          </div>
        </div>
        <%}%>
      </div>
    </div>
  </body>
</html>
